@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/global" as *;

.username-section{
    width: 40vw;

    &__wrapper{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
        &__form{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

        &__btn{
            background-color: $Sage;
            width: 5rem;
            height: 2rem;
            border-radius: 10rem;
            border: none;
            margin-left: 1rem;

        }
        &__input{
            padding-right: 0.5rem;
            padding-top: 0.5rem;
        }

        &__users{
            display: flex;
            justify-content: space-between;
        }
}
.fact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.photo-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


    }
        &__BtnWrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 1rem;
            margin: 0 3rem;
        }

            &__SelectBtn-1{
                background-color: $Sage;
                width: 10rem;
                height: 2rem;
                border: none;
                border-radius: 10rem;
                margin: 1rem;
            }
                &__SelectBtn-2{
                    background-color: $Sage;
                    width: 10rem;
                    height: 2rem;
                    border: none;
                    border-radius: 10rem;
                    margin: 1rem
                }

                    &__RandomPhoto{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 70%;
                        object-fit: contain;
                    }
                        &__img {
                            padding: 1rem;
                            width: 70%;
                            height: 30vh;
                            object-fit: contain;
                        }
}

.score-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__CurrentScore {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__users-container {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px dashed grey;
        width: 40vw;
    }

}
